$primaryBg: #1f1f1f;
$secondaryBg: #222222;
$ternaryBg: #1c1c1c;

$primaryBorder: #333333;
$accent: rgb(230, 191, 62);

$primaryText: #dddddd;     

$white: #ffffff;

//forms
$inputBg: $secondaryBg;

//light theme
// $primaryBg: #fffbf0;
// $secondaryBg: #e4ddf4;
// $ternaryBg: #2d2d2d;

// $accent: #943d24;

// $primaryText: #282612;
// $inputBg: $secondaryBg;
